
        .project-card{
            padding: 10px;
            margin: 0 auto;
            // border: 1px solid red;
            background-color: var(--c3);
            display: flex;
            flex-direction: column;
            box-shadow: -1px -1px 6px rgb(232, 232, 232), 
                        1px 1px 2px var(--c2_1);
            border-radius: 5px;

            .thumbnail{
                width: 100%;
                height: 45%;
                // border: 1px solid red;
                overflow-y: hidden;
                border-radius: 8px;

                img{
                    width: 100%;
                    // margin-top: -60px;
                }
            }

            .title{
                margin: 7px 0;
                font-size: 22px;
                // border: 1px solid red;
                color: var(--c2);
            }

            .info{
                height: 100px;
                margin-bottom: 5px;
            }

            .buttons{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin-top: auto;
                margin-bottom: 10px;

                button{
                    border: none;
                    font-family: 'Cascadia Code', 'Monospace', 'serif';
                    cursor: pointer;
                    background-color: var(--c2_1);
                    color: var(--c3);
                    padding: 10px;
                    border-radius: 3px;
                    box-shadow: -1px -1px 6px white,
                                1px 1px 6px var(--c2);
                }
            }
        }