node_modules/
client/node_modules
client/.eslintcache
client/.env
client/src/Images/cc-logo-mobile-1.svg
client/src/Images/chat-app.jpeg
client/src/Images/chat-app.png
client/src/Images/coding.jpg
client/src/Images/hackmakers.png
client/src/Images/handwritten-digits.png
client/src/Images/hcl_banner_1.png
client/src/Images/logo.jpeg
client/src/Images/logo2.jpeg
client/src/Images/neural-network.jpg
client/src/Images/young-minds-logo.png
dist/
.pat
