@import '../../Utils/css/keyframes.scss';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.projects-container{
    position: relative;
    z-index: 10;
    background-color: var(--c3);
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    // border: 1px solid red;

    &::before{
        position: absolute;
        content: "";
        width: 120px;
        height: 130px;
        border-radius: 50%;
        background-color: var(--c2_1);
        top: -100px;
        right: 20%;
        transform: scale(12);
        z-index: -1;
    }

    // &::after{
    //     position: absolute;
    //     content: "";
    //     width: 100vmin;
    //     height: 100vmin;
    //     border-radius: 2%;
    //     background-color: var(--c2_1);
    //     // top: 0;
    //     // left: 20%;
    //     transform:  rotateZ(45deg);
    //     z-index: -1;
    // }


    .header{
        margin: 7% auto 3% auto;
        font-family: 'Fira Sans', 'Cascadia Code', 'Monospace', 'serif';
        font-size: 28px;
        color: var(--c3);

        span{
            display: inline-block;
            white-space: pre;

            &.capital{
                font-size: 40px;
            }

            &:hover{
                animation: stumble 300ms ease-in-out 1 alternate;
            }
        }
    }

    .projects-grid{
        $cardWidth: 250px;
        $cardHeight: 290px;
        $gridGap: 20px;

        position: relative;
        display: grid;
        grid-template-columns: repeat(3, $cardWidth + $gridGap);
        align-items: center;
        justify-content: center;
        grid-gap: 20px;
        padding: 20px;
        width: 75%;
        height: auto;
    }
}