@import '../../Utils/css/keyframes.scss';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.projects-container{
    position: relative;
    z-index: 1;
    background-color: var(--c3);
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    // border: 1px solid red;

    // &::before{
    //     position: absolute;
    //     content: "";
    //     width: 130px;
    //     height: 130px;
    //     border-radius: 50%;
    //     background-color: var(--c2_1);
    //     transform: scale(12) translateY(-30%);
    //     z-index: -1;
    // }

    // &::after{
    //     position: absolute;
    //     content: "";
    //     width: 100vmin;
    //     height: 100vmin;
    //     border-radius: 2%;
    //     background-color: var(--c2_1);
    //     // top: 0;
    //     // left: 20%;
    //     transform:  rotateZ(45deg);
    //     z-index: -1;
    // }

    // &::after{
    //     position: absolute;
    //     content: '';
    //     width: 100%;
    //     height: 100%;
    //     background-color:  red;
    //     z-index: -1;
    // }

    // &::before{
    //     position: absolute;
    //     content: '';
    //     top: -20%;
    //     width: 130vmin;
    //     height: 130vmin;
    //     border-radius: 50%;
    //     background-color: var(--c2_1);
    //     z-index: -1;
    //     transform: scale(2);
    // }


    .header{
        margin: 2% auto 3% auto;
        font-family: 'Fira Sans', 'Cascadia Code', 'Monospace', 'serif';
        font-size: 28px;
        color: var(--c2);

        span{
            display: inline-block;
            white-space: pre;

            &.capital{
                font-size: 40px;
            }

            &:hover{
                animation: stumble 300ms ease-in-out 1 alternate;
            }
        }
    }

    .projects-grid{
        --cardWidth: 250px;
        --cardHeight: 450px;
        --gridGap: 20px;
        --cols: 3;
        --rows: 2;

        position: relative;
        display: grid;
        grid-template-columns: repeat(var(--cols), calc( var(--cardWidth) + var(--gridGap) ));
        grid-template-rows: repeat(var(--rows), calc( var(--cardHeight) + var(--gridGap) ));
        align-items: center;
        justify-content: center;
        grid-gap: 20px;
        padding: 20px;
        width: 75%;
        height: auto;
    }
}

@media screen and (max-width: 1200px){   
    .projects-container{

        .projects-grid{
            --cols: 2;
            --gridGap: 10px;
            // border: 3px solid red;
        }
    }
}

@media screen and (max-width: 760px){   
    .projects-container{
        
        .projects-grid{
            --gridGap: 5px;
            width: 100%;
            justify-content: end;
            // border: 3px solid red;
        }
    }
}

@media screen and (max-width: 630px){   
    .projects-container{
        
        .projects-grid{
            --gridGap: 5px;
            --cols: 1;
            width: 100%;
            justify-content: center;
            border: 3px solid red;
        }
    }
}