@import '../../Utils/css/keyframes.scss';

.achievements-wrapper{
    width: 80%;
    margin: 0 auto;
    padding: 30px;

    .header{
        font-size: 28px;
        color: var(--c2);
        margin-bottom: 50px;
    }

    .achievement{
        display: flex;
        width: 500px;
        height: 100px;
        align-items: center;
        animation: float 5s infinite;

        &:nth-of-type(2n){
            margin-left: auto;
        }

        &:hover{
            .content .info{
                transform: translateY(0);
                max-height: 1000px;
            }
        }

        .icon{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            // background-color: var(--c2);
            display: grid;
            place-items: center;

            img{
                width: 30px;
                height: auto;
                border-radius: 50%;
            }
        }
        .content{
            border-radius: 5px;
            width: 90%;
            padding: 5px 0;
            display: flex;
            flex-direction: column;
            box-shadow: 1px 1px 3px var(--c2_1);
            overflow: hidden;

            .text{
                color: var(--c2);
                // font-weight: bold;
                font-size: 18px;
            }

            .info{
                padding: 5px;
                font-size: 12px;
                transform: translateY(1000px);
                max-height: 0;
                transition: max-height 400ms ease-in-out,
                            transform 250ms ease-in-out;
            }
        }
    }
}